@model eBanking.ViewModels.BankUserViewModel

@{
    ViewData["Title"] = "Find Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Find</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="FindCustomer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AFM" class="control-label">AFM</label>
                <input asp-for="AFM" class="form-control" type="number" />
                <span asp-validation-for="AFM" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input class="action-btn" type="submit" value="Find Customer" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="menu-btn" asp-action="Index">Back to Dashboard</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
